In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('2024 Ballon Dor Nominees League Stats.csv')

Glancing at the Data

In [3]:
dataset.head()

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
0,0,ENG-Premier League,2324,Arsenal,Bukayo Saka,ENG,FW,21,2001,35,...,181,15,35,1,0,0,155,23,36,39.0
1,1,ENG-Premier League,2324,Arsenal,Declan Rice,ENG,MF,24,1999,38,...,60,44,51,0,2,0,178,39,43,47.6
2,2,ENG-Premier League,2324,Arsenal,Martin Ødegaard,NOR,MF,24,1998,35,...,77,15,17,1,0,0,158,3,9,25.0
3,3,ENG-Premier League,2324,Arsenal,William Saliba,FRA,DF,22,2001,38,...,3,29,26,0,1,0,213,72,49,59.5
4,4,ENG-Premier League,2324,Aston Villa,Emiliano Martínez,ARG,GK,30,1992,34,...,0,0,0,0,0,2,48,5,0,100.0

Glancing a bit more

In [4]:
dataset

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
0,0,ENG-Premier League,2324,Arsenal,Bukayo Saka,ENG,FW,21,2001,35,...,181,15,35,1,0,0,155,23,36,39.0
1,1,ENG-Premier League,2324,Arsenal,Declan Rice,ENG,MF,24,1999,38,...,60,44,51,0,2,0,178,39,43,47.6
2,2,ENG-Premier League,2324,Arsenal,Martin Ødegaard,NOR,MF,24,1998,35,...,77,15,17,1,0,0,158,3,9,25.0
3,3,ENG-Premier League,2324,Arsenal,William Saliba,FRA,DF,22,2001,38,...,3,29,26,0,1,0,213,72,49,59.5
4,4,ENG-Premier League,2324,Aston Villa,Emiliano Martínez,ARG,GK,30,1992,34,...,0,0,0,0,0,2,48,5,0,100.0
5,5,ITA-Serie A,2324,Atalanta,Ademola Lookman,NGA,"FW,MF",25,1997,31,...,69,9,15,1,0,0,89,18,21,46.2
6,6,ESP-La Liga,2324,Athletic Club,Nico Williams,ESP,FW,21,2002,31,...,153,3,12,3,1,0,131,8,9,47.1
7,7,ESP-La Liga,2324,Barcelona,Lamine Yamal,ESP,FW,16,2007,37,...,87,19,37,2,0,0,102,2,11,15.4
8,8,GER-Bundesliga,2324,Bayern Munich,Harry Kane,ENG,FW,30,1993,32,...,31,6,9,0,0,0,55,30,34,46.9
9,9,ENG-Premier League,2324,Chelsea,Cole Palmer,ENG,"FW,MF",21,2002,33,...,81,20,12,1,0,0,105,1,4,20.0
10,10,GER-Bundesliga,2324,Dortmund,Mats Hummels,GER,DF,34,1988,25,...,3,33,34,0,2,0,99,38,24,61.3
11,11,ESP-La Liga,2324,Girona,Artem Dovbyk,UKR,FW,26,1997,36,...,1,0,3,0,0,0,24,39,40,49.4
12,12,ITA-Serie A,2324,Inter,Hakan Çalhanoğlu,TUR,MF,29,1994,32,...,153,24,33,0,0,0,166,26,18,59.1
13,13,ITA-Serie A,2324,Inter,Lautaro Martínez,ARG,FW,25,1997,33,...,15,20,16,2,1,0,90,38,27,58.5
14,14,GER-Bundesliga,2324,Leverkusen,Florian Wirtz,GER,MF,20,2003,32,...,36,9,18,0,0,0,143,9,15,37.5
15,15,GER-Bundesliga,2324,Leverkusen,Granit Xhaka,SUI,MF,30,1992,33,...,10,19,21,0,0,0,226,26,22,54.2
16,16,GER-Bundesliga,2324,Leverkusen,Álex Grimaldo,ESP,DF,27,1995,33,...,202,22,24,1,0,0,168,12,19,38.7
17,17,ENG-Premier League,2324,Manchester City,Erling Haaland,NOR,FW,23,2000,31,...,5,2,3,2,0,0,47,39,42,48.1
18,18,ENG-Premier League,2324,Manchester City,Phil Foden,ENG,"FW,MF",23,2000,35,...,89,13,20,0,1,0,127,6,17,26.1
19,19,ENG-Premier League,2324,Manchester City,Rodri,ESP,MF,27,1996,34,...,12,26,43,1,0,0,235,54,22,71.1
20,20,ENG-Premier League,2324,Manchester City,Rúben Dias,POR,DF,26,1997,30,...,13,30,20,0,1,1,108,47,42,52.8
21,21,FRA-Ligue 1,2324,Paris S-G,Kylian Mbappé,FRA,FW,24,1998,29,...,23,2,1,2,0,0,47,0,2,0.0
22,22,FRA-Ligue 1,2324,Paris S-G,Vitinha,POR,MF,23,2000,28,...,38,23,24,0,0,0,154,4,10,28.6
23,23,GER-Bundesliga,2324,RB Leipzig,Dani Olmo,ESP,MF,25,1998,21,...,21,13,18,0,0,0,75,11,19,36.7
24,24,ESP-La Liga,2324,Real Madrid,Antonio Rüdiger,GER,DF,30,1993,33,...,4,11,15,0,0,0,124,49,23,68.1
25,25,ESP-La Liga,2324,Real Madrid,Dani Carvajal,ESP,DF,31,1992,28,...,49,22,32,0,0,0,120,21,19,52.5
26,26,ESP-La Liga,2324,Real Madrid,Federico Valverde,URU,MF,25,1998,37,...,30,43,34,0,0,0,160,21,10,67.7
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0
28,28,ESP-La Liga,2324,Real Madrid,Toni Kroos,GER,MF,33,1990,33,...,118,17,34,0,0,0,144,8,4,66.7
29,29,ESP-La Liga,2324,Real Madrid,Vinicius Júnior,BRA,FW,23,2000,26,...,56,1,13,0,0,0,44,1,7,12.5

Checking out the La Liga Candidates

In [5]:
dataset.loc[dataset['league']=='ESP-La Liga']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
6,6,ESP-La Liga,2324,Athletic Club,Nico Williams,ESP,FW,21,2002,31,...,153,3,12,3,1,0,131,8,9,47.1
7,7,ESP-La Liga,2324,Barcelona,Lamine Yamal,ESP,FW,16,2007,37,...,87,19,37,2,0,0,102,2,11,15.4
11,11,ESP-La Liga,2324,Girona,Artem Dovbyk,UKR,FW,26,1997,36,...,1,0,3,0,0,0,24,39,40,49.4
24,24,ESP-La Liga,2324,Real Madrid,Antonio Rüdiger,GER,DF,30,1993,33,...,4,11,15,0,0,0,124,49,23,68.1
25,25,ESP-La Liga,2324,Real Madrid,Dani Carvajal,ESP,DF,31,1992,28,...,49,22,32,0,0,0,120,21,19,52.5
26,26,ESP-La Liga,2324,Real Madrid,Federico Valverde,URU,MF,25,1998,37,...,30,43,34,0,0,0,160,21,10,67.7
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0
28,28,ESP-La Liga,2324,Real Madrid,Toni Kroos,GER,MF,33,1990,33,...,118,17,34,0,0,0,144,8,4,66.7
29,29,ESP-La Liga,2324,Real Madrid,Vinicius Júnior,BRA,FW,23,2000,26,...,56,1,13,0,0,0,44,1,7,12.5

Checking out the Real Madrid ones

In [6]:
dataset.loc[dataset['team']=='Real Madrid']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
24,24,ESP-La Liga,2324,Real Madrid,Antonio Rüdiger,GER,DF,30,1993,33,...,4,11,15,0,0,0,124,49,23,68.1
25,25,ESP-La Liga,2324,Real Madrid,Dani Carvajal,ESP,DF,31,1992,28,...,49,22,32,0,0,0,120,21,19,52.5
26,26,ESP-La Liga,2324,Real Madrid,Federico Valverde,URU,MF,25,1998,37,...,30,43,34,0,0,0,160,21,10,67.7
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0
28,28,ESP-La Liga,2324,Real Madrid,Toni Kroos,GER,MF,33,1990,33,...,118,17,34,0,0,0,144,8,4,66.7
29,29,ESP-La Liga,2324,Real Madrid,Vinicius Júnior,BRA,FW,23,2000,26,...,56,1,13,0,0,0,44,1,7,12.5

In [7]:
dataset.loc[dataset['player']=='Jude Bellingham']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0

In [8]:
dataset.describe()

,Unnamed: 0,season,age,born,Playing Time-MP,Playing Time-Starts,Playing Time-Min,Playing Time-90s,Performance-Gls,Performance-Ast,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
count,30.000000,30.0,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,...,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,14.500000,2324.0,25.266667,1997.433333,32.033333,28.866667,2518.333333,27.973333,11.133333,5.833333,...,54.700000,17.033333,21.800000,0.566667,0.300000,0.100000,121.766667,22.466667,20.766667,46.176667
std,8.803408,0.0,4.201259,4.328600,3.934668,5.354555,471.495737,5.232981,9.687295,3.806377,...,56.669733,11.798549,12.855698,0.858360,0.595963,0.402578,54.960602,18.705952,13.454094,20.438127
min,0.000000,2324.0,16.000000,1988.000000,21.000000,17.000000,1449.000000,16.100000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000
25%,7.250000,2324.0,23.000000,1994.250000,30.250000,24.250000,2178.500000,24.200000,3.250000,3.000000,...,12.250000,9.000000,13.500000,0.000000,0.000000,0.000000,89.250000,6.500000,10.000000,36.900000
50%,14.500000,2324.0,25.000000,1998.000000,33.000000,29.500000,2573.000000,28.550000,8.000000,6.500000,...,33.500000,18.000000,20.000000,0.000000,0.000000,0.000000,122.000000,21.000000,19.000000,47.850000
75%,21.750000,2324.0,28.500000,2000.000000,34.750000,32.750000,2852.500000,31.650000,18.250000,8.000000,...,80.000000,22.750000,33.750000,1.000000,0.000000,0.000000,157.250000,38.000000,26.500000,58.950000
max,29.000000,2324.0,34.000000,2007.000000,38.000000,38.000000,3420.000000,38.000000,36.000000,13.000000,...,202.000000,44.000000,51.000000,3.000000,2.000000,2.000000,235.000000,72.000000,49.000000,100.000000

In [9]:
dataset.loc[dataset['Performance-Gls']==36]

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
8,8,GER-Bundesliga,2324,Bayern Munich,Harry Kane,ENG,FW,30,1993,32,...,31,6,9,0,0,0,55,30,34,46.9

In [10]:
dataset.loc[dataset['Performance_misc-OG']].max()

Unnamed: 0                                 2
league                    ENG-Premier League
season                                  2324
team                                 Arsenal
player                       Martin Ødegaard
                                 ...
Performance_misc-OG                        0
Performance_misc-Recov                   178
Aerial Duels-Won                          39
Aerial Duels-Lost                         43
Aerial Duels-Won%                       47.6
Length: 237, dtype: object

In [11]:
dataset.head()

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
0,0,ENG-Premier League,2324,Arsenal,Bukayo Saka,ENG,FW,21,2001,35,...,181,15,35,1,0,0,155,23,36,39.0
1,1,ENG-Premier League,2324,Arsenal,Declan Rice,ENG,MF,24,1999,38,...,60,44,51,0,2,0,178,39,43,47.6
2,2,ENG-Premier League,2324,Arsenal,Martin Ødegaard,NOR,MF,24,1998,35,...,77,15,17,1,0,0,158,3,9,25.0
3,3,ENG-Premier League,2324,Arsenal,William Saliba,FRA,DF,22,2001,38,...,3,29,26,0,1,0,213,72,49,59.5
4,4,ENG-Premier League,2324,Aston Villa,Emiliano Martínez,ARG,GK,30,1992,34,...,0,0,0,0,0,2,48,5,0,100.0

In [12]:
top_5percent_gls=dataset['Performance-Gls'].quantile(0.75)
top_5percent_gls

18.25

In [13]:
dataset.loc[dataset['Performance-Gls']>18.25]

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
8,8,GER-Bundesliga,2324,Bayern Munich,Harry Kane,ENG,FW,30,1993,32,...,31,6,9,0,0,0,55,30,34,46.9
9,9,ENG-Premier League,2324,Chelsea,Cole Palmer,ENG,"FW,MF",21,2002,33,...,81,20,12,1,0,0,105,1,4,20.0
11,11,ESP-La Liga,2324,Girona,Artem Dovbyk,UKR,FW,26,1997,36,...,1,0,3,0,0,0,24,39,40,49.4
13,13,ITA-Serie A,2324,Inter,Lautaro Martínez,ARG,FW,25,1997,33,...,15,20,16,2,1,0,90,38,27,58.5
17,17,ENG-Premier League,2324,Manchester City,Erling Haaland,NOR,FW,23,2000,31,...,5,2,3,2,0,0,47,39,42,48.1
18,18,ENG-Premier League,2324,Manchester City,Phil Foden,ENG,"FW,MF",23,2000,35,...,89,13,20,0,1,0,127,6,17,26.1
21,21,FRA-Ligue 1,2324,Paris S-G,Kylian Mbappé,FRA,FW,24,1998,29,...,23,2,1,2,0,0,47,0,2,0.0
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0

What is the average recovery rate (Performance_misc-Recov) for defenders (DF) compared to midfielders (MF)?

In [14]:
defs=dataset[dataset['pos']=='DF']
avg_rr_def=defs['Performance_misc-Recov'].mean()
avg_rr_def

138.66666666666666

In [15]:
mids=dataset[dataset['pos']=='MF']
avg_rr_mids=mids['Performance_misc-Recov'].mean()
avg_rr_mids

159.72727272727272

In [16]:
comps=avg_rr_def/avg_rr_mids
comps

0.8681464617719598

What is the percentage of successful aerial duels (Aerial Duels-Won%) for players above the age of 25?

In [17]:
above_25=dataset[dataset['age']>25]
s_a_d=above_25['Aerial Duels-Won%'].mean()
s_a_d

60.06666666666667

In [18]:
below_25=dataset[dataset['age']<=25]
s_a_d_b_25=below_25['Aerial Duels-Won%'].mean()
s_a_d_b_25

36.916666666666664

In [19]:
prem_players=dataset[dataset['league']=='ENG-Premier League']
prem_players_age_mean=prem_players['age'].mean()
prem_players_age_mean

24.1

In [20]:
dataset.loc[dataset['Performance_misc-PKwon']].max()

Unnamed: 0                                 3
league                    ENG-Premier League
season                                  2324
team                                 Arsenal
player                        William Saliba
                                 ...
Performance_misc-OG                        0
Performance_misc-Recov                   213
Aerial Duels-Won                          72
Aerial Duels-Lost                         49
Aerial Duels-Won%                       59.5
Length: 237, dtype: object

In [21]:
dataset.loc[dataset['nation']=='UKR']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
11,11,ESP-La Liga,2324,Girona,Artem Dovbyk,UKR,FW,26,1997,36,...,1,0,3,0,0,0,24,39,40,49.4

In [22]:
dataset.loc[dataset['nation']=='ARG']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
4,4,ENG-Premier League,2324,Aston Villa,Emiliano Martínez,ARG,GK,30,1992,34,...,0,0,0,0,0,2,48,5,0,100.0
13,13,ITA-Serie A,2324,Inter,Lautaro Martínez,ARG,FW,25,1997,33,...,15,20,16,2,1,0,90,38,27,58.5

In [23]:
dataset['nation'].unique()

array(['ENG', 'NOR', 'FRA', 'ARG', 'NGA', 'ESP', 'GER', 'UKR', 'TUR',
       'SUI', 'POR', 'URU', 'BRA'], dtype=object)

In [24]:
dataset.loc[dataset['nation']=='ENG']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
0,0,ENG-Premier League,2324,Arsenal,Bukayo Saka,ENG,FW,21,2001,35,...,181,15,35,1,0,0,155,23,36,39.0
1,1,ENG-Premier League,2324,Arsenal,Declan Rice,ENG,MF,24,1999,38,...,60,44,51,0,2,0,178,39,43,47.6
8,8,GER-Bundesliga,2324,Bayern Munich,Harry Kane,ENG,FW,30,1993,32,...,31,6,9,0,0,0,55,30,34,46.9
9,9,ENG-Premier League,2324,Chelsea,Cole Palmer,ENG,"FW,MF",21,2002,33,...,81,20,12,1,0,0,105,1,4,20.0
18,18,ENG-Premier League,2324,Manchester City,Phil Foden,ENG,"FW,MF",23,2000,35,...,89,13,20,0,1,0,127,6,17,26.1
27,27,ESP-La Liga,2324,Real Madrid,Jude Bellingham,ENG,MF,20,2003,28,...,21,21,34,0,0,0,118,24,25,49.0

In [25]:
dataset['nation'].value_counts().idxmax()

'ENG'

In [26]:
dataset.loc[dataset['Performance_misc-PKcon'].max()]

Unnamed: 0                                 2
league                    ENG-Premier League
season                                  2324
team                                 Arsenal
player                       Martin Ødegaard
                                 ...
Performance_misc-OG                        0
Performance_misc-Recov                   158
Aerial Duels-Won                           3
Aerial Duels-Lost                          9
Aerial Duels-Won%                       25.0
Name: 2, Length: 237, dtype: object

In [32]:
dataset.loc[dataset['player']=='Rodri']

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
19,19,ENG-Premier League,2324,Manchester City,Rodri,ESP,MF,27,1996,34,...,12,26,43,1,0,0,235,54,22,71.1

In [34]:
[dataset['Performance_misc-Recov'].max()]

[235]

In [37]:
dataset.loc[dataset['Performance_misc-Recov']==235]

,Unnamed: 0,league,season,team,player,nation,pos,age,born,Playing Time-MP,...,Performance_misc-Crs,Performance_misc-Int,Performance_misc-TklW,Performance_misc-PKwon,Performance_misc-PKcon,Performance_misc-OG,Performance_misc-Recov,Aerial Duels-Won,Aerial Duels-Lost,Aerial Duels-Won%
19,19,ENG-Premier League,2324,Manchester City,Rodri,ESP,MF,27,1996,34,...,12,26,43,1,0,0,235,54,22,71.1

In [39]:
import numpy as np